[submodule "esoco-oauth"]
	path = esoco-oauth
	url = https://github.com/esoco/esoco-oauth.git
[submodule "gewt-chart"]
	path = gewt-chart
	url = https://github.com/esoco/gewt-chart.git
[submodule "gewt-timetable"]
	path = gewt-timetable
	url = https://github.com/esoco/gewt-timetable.git
[submodule "gewt-material"]
	path = gewt-material
	url = https://github.com/esoco/gewt-material.git
