[submodule "esoco-oauth"]
	path = esoco-oauth
	url = ../esoco-oauth.git
[submodule "gewt-chart"]
	path = gewt-chart
	url = ../gewt-chart.git
[submodule "gewt-timetable"]
	path = gewt-timetable
	url = ../gewt-timetable.git
